<h1>Register to win a prize!</h1>

<h2>Form with GET</h2>

<form action="/register" method="get">
    <label>Name: <input name="name" required></label><br>
    <label>Email: <input name="email"></label><br>
    <input type="submit" value="Register!">
</form>

<h2>Form with POST</h2>

<form action="/register" method="post">
    <label>Name: <input name="name" required></label><br>
    <label>Email: <input name="email"></label><br>
    <input type="submit" value="Register!">
</form>
