<form action="/sessions/create" method="post">
  <div class="field">
    <label for="session_email">Email</label><br />
    <input name="session[email]" size="30" type="text" />

  </div>
  <div class="field">
    <label for="session_password">Password</label><br />
    <input name="session[password]" size="30" type="password" />
  </div>
  <div class="actions">
    <input id="session_submit" name="commit" type="submit" value="Sign in" />
  </div>
</form>