<h1>Thanks for registering!</h1>

<p>You entered the following information:</p>

<dl>
    <dt>name</dt>
    <dd><tt><%= params[:name] %></tt></dd>
    <dt>email</dt>
    <dd><tt><%= params[:email] %></tt></dd>
    <dt>HTTP method</dt>
    <dd><tt><%= request.request_method %></tt></dd>
</dl>
